<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sprawdź swoje wykroczenia</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div id="page1" class="mb-5 d-flex flex-column justify-content-center align-items-center">
    <div class="mb-5">
        <div class="d-flex align-items-center justify-content-center mb-5">
            <h1 class="mb-3" style="color: white;font-size:4rem;margin-right: 1rem;text-align: center">Sprawdź swoje
                wykroczenia</h1>
            <img src="Icons/icons8-customs-officer-96 1.png" alt="Ikona" style="width: 3rem; height: 3rem;">
        </div>
        <div class="d-flex justify-content-center">
            <div class="input-group col-8 justify-content-center">
                <form th:action="@{/driver}" class="form-inline" method="GET">
                    <input type="text" name="pesel" class="form-control form-control-lg" placeholder="Wprowadź PESEL"
                           aria-label="PESEL"
                           style="margin-right: 1rem; border-radius: 15px; background-color: #979090; color: white;"
                           maxlength="11" min="0" max="99999999999" pattern="\d{11}" required/>
                    <button class="btn btn-secondary" type="submit"
                            style="width:48px; height:48px; border-radius: 15px; background-color: #979090; color: #f8d7da;">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--    <div>-->
    <!--        <span style="color: white;"> Current time is </span><span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"/>-->
    <!--    </div>-->
</div>


<!--Wykroczenia-->

<div id="page2" class="d-flex flex-column justify-content-center" th:if="${pesel != null and driver != null}">
    <div class="d-flex align-items-center justify-content-center mb-5" th:if="${driver != null}" style="color: white;">
        <h2><strong>Kierowca:</strong> <span th:text="${driver.imie}+' '+${driver.nazwisko} + '&nbsp;'"></span></h2>
        <h2><strong>PESEL:</strong> <span th:text="${driver.pesel}"></span></h2>
    </div>

    <div class="d-flex align-items-center justify-content-center mb-5" style="color: white;">
        <h2>Wykroczenia:</h2>
    </div>

    <div class="d-flex justify-content-center" th:if="${!#lists.isEmpty(mandates)}">
        <div class="col-md-6 justify-content-center">
            <div class="col-12 col-md-12 mb-5 offence" th:each="mandate : ${mandates}">
                <div class="p-3 d-flex flex-column justify-content-center rounded">
                    <p><strong>Funkcjonariusz wystawiający mandat: </strong><span
                            th:text="${mandate.policjant.imie} + ' ' + ${mandate.policjant.nazwisko}"></span></p>
                    <p><strong>Numer służbowy: </strong><span th:text="${mandate.policjant.numerSluzbowy}"></span></p>
                    <p><strong>Data i miejsce wystawienia mandatu: </strong><span
                            th:text="${#dates.format(mandate.dataWystawienia, 'yyyy-MM-dd HH:mm')}"></span></p>
                    <p><strong>Status mandatu: </strong><span th:text="${mandate.status}"></span></p>
                    <p><strong>Wykroczenie recydywistyczne: </strong><span th:text="${mandate.recydywa}"></span></p>
                    <p><strong>Wykroczenie: </strong><span th:text="${mandate.wykroczenie}"></span></p>
                    <p><strong>Punkty karne: </strong><span th:text="${mandate.punkty}"></span></p>
                    <p><strong>Kwota: </strong><span
                            th:text="${#numbers.formatDecimal(mandate.kwota, 2, 2)} + ' PLN'"></span></p>
                </div>
            </div>

        </div>
    </div>

    <div style="text-align: center" th:if="${#lists.isEmpty(mandates)}">
        <span style="font-size: 1.5rem; color: white">Brak zarejestrowanych wykroczeń</span>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center mb-5" th:if="${pesel!=null and driver == null}">
    <h2>
        <strong> Kierowca o numerze PESEL: </strong>
        <span th:text="${pesel} + ' '"></span>
        <strong> nie istnieje.</strong>
    </h2>
</div>

<script src="js/bootstrap.js"></script>
</body>
</html>